body{
  margin: 0;
  font-family: Raleway;
}
.header{
  margin: 0;
  padding: 0px;
  background: whitesmoke;
  border: red;
}
.container{
  display: grid;
  grid-template-columns: 20%  50% 15% 15%;
  grid-template-areas:"logo buscar car cuenta";
  background: #F2F2F2 0% 0% no-repeat padding-box;
  opacity: 1;
  top: 1px;
  left: 0px;
  height: 120px;
  position: fixed;
  width: 100%;
}
.logo{
  display: grid;
  grid-area: logo;
  align-items: center;
  justify-content: center;
  
}
.buscar{
  border: 1px solid #ccc;
  grid-area: buscar;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 520px;
  height: 45px;
  margin: 38px 0 0 0;
  background: #E6E6E6 0% 0% no-repeat padding-box;
  

} 
.input_text {
  border: none;
  width: 450px;
  position: relative;
  background: transparent;
  outline: none;
  color: #7B8086;
  bottom: 6px;
  padding: 2px ;
  margin: 5px 0 5px 5px;
  font-style:italic;
  font-size: 18px;
  font-family: Raleway;
}
input.image_buscar {
  width: 34px;
  height: 34px;
  border: 0px;
  position: relative;
  top: 5px;

}

.car{
  display: flex;
  grid-auto-flow: column;
  grid-area: car;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #021733;
  
  
}
.car p{
  padding: 0 7px;
}
.account{
  display: flex;
  grid-auto-flow: column;
  grid-area: cuenta;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #021733;

}
.account p{
  padding: 0 7px;

}

.principal{
  display: grid;
  grid-template: 668px 336px 335px / repeat(4 , 25%);
  grid-template-areas:"nuevo nuevo nuevo nuevo"
                      "mesa mesa taburetes taburetes"
                      "mesa mesa accesorios sillas" ;
}
/* .item{
  border: 1px solid red;
} */
.nuevos{
  grid-area: nuevo;
  margin-top: 120px;
  top: 122px;
  left: -1px;
  height: 668px;
  width: 100%;
  /*background:transparent url('../images/1reach-solid_1280x601.png') 100% 00px  no-repeat padding-box;*/
  background-image: url("../images/1reach-solid_1280x601.png");
  background-size:cover ;
  border: none;
/*   border-bottom: 1px solid #7B8086;
 */  opacity: 1;
}
.nuevos P{
  padding: 193px 0  0 134px ;
  top: 315px;
  left: 134px;
  width: 197px;
  height: 33px;
  font-family: 'Quicksand';
  font-size: 23px;
  text-align: left;
  letter-spacing: 0;
  color: #021733;
  opacity: 1;
}
.nuevos h1{
  padding: 0px 134px 0;
  top: 394px;
  left: 134px;
  width: 432px;
  text-align: left;
  font: Bold 80px/30px 'Quicksand';
  letter-spacing: 0;
  color: #021733;
  opacity: 1;
}
.boton{
  display: grid;
  align-items: center;
  width: 155px;
  height: 58px;
  text-align: center;
  font-family: 'Quicksand';
  font-size: 21px;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  background: #B18C48 0% 0% no-repeat padding-box;
  border: none;
}
    .boton:hover{
      cursor: pointer;
      background: #a78343;
    }
.bot{
  padding: 0 134px;
}
.mesas{
  grid-area: mesa;
  /*background: transparent url('../images/h2_c36cedb1-2f75-41d4-96a0-31d363d8a24f_960x.png') 0% 0px no-repeat padding-box;*/
  background-image:url("../images/h2_c36cedb1-2f75-41d4-96a0-31d363d8a24f_960x.png") ;
  background-size: cover;
  border: none;
  
  /* border-right: 1px solid #7B8086; */
  opacity: 1;
  text-align: left;
  font: Bold 32px/33px 'Quicksand';
  letter-spacing: 0;
  color: #021733;
  text-transform: uppercase;
  opacity: 1;
  cursor: pointer;
}

.mesas h2{
  padding: 320px 0px 0 64px;
}
.taburetes{
  grid-area: taburetes;
  /*background: transparent url('../images/hero1_huge_30cdfc1b-f66c-4f58-885a-8c60b1a47040_960x.png') 0% 0px no-repeat padding-box;*/
  background-image: url("../images/hero1_huge_30cdfc1b-f66c-4f58-885a-8c60b1a47040_960x.png");
  background-size: cover;
  opacity: 1;
  letter-spacing: 0;
color: #021733;
border-top: 1px solid #7B8086;
border-left: 1px solid #7B8086;
cursor: pointer;
}

.taburetes h3{
  padding: 100px 0px 0 32px;
  font: Bold 34px/35px 'Quicksand';
  
}
.accesorios{
  grid-area: accesorios;
  /*background: transparent url('../images/h4_84003309-fa02-4106-a4b6-ebe418968412_960x.png') 60% 60% no-repeat padding-box;*/
  background-image: url("../images/h4_84003309-fa02-4106-a4b6-ebe418968412_960x.png");
  background-size: cover;
  background-position: center;
  border-left: 1px solid #7B8086;
  border-top: none;
  opacity: 1;
  letter-spacing: 0;
  color: #021733;
  cursor: pointer;
}
.accesorios h4{
  padding: 120px 0px 0 8px;
  font: Bold 22px/28px 'Quicksand';
}

.sillas{
  grid-area: sillas;
  /*background: transparent url('../images/h3_08c26aeb-8d10-44f3-9d88-5517e08650bc_960x.png') 0% 34% no-repeat padding-box;*/
  background-image: url("../images/h3_08c26aeb-8d10-44f3-9d88-5517e08650bc_960x.png");
  background-size: cover;
  opacity: 1;
  letter-spacing: 0;
  color: #021733;
  cursor: pointer;
}
.sillas h4{
  padding: 120px 0px 0 30px;
  font: Bold 24px/26px 'Quicksand';
}
.frase{
  display: grid;
  align-items: center;
  justify-content: center;
  font-family:'Courier New', Courier, monospace, sans-serif;
  background: #F2F2F2 0% 0% no-repeat padding-box;
  letter-spacing: 0;
  color: #000E1F;
  text-transform: capitalize;
  opacity: 1;
  height: 116px;
}
.footContainer{
  background: #021733 0% 0% no-repeat padding-box;
  display: grid;
  grid-template: 140px 110px 40px 110px 140px / 50% 50%;
  grid-template-areas: "redes boletin"
                        "iconos input"
                        "descubre enterate"
                        "privacidad privacidad"
                        "powered powered";
}
.redes{
  padding: 92px 0px 0 86px;
  grid-area: redes;
  text-align: left;
font: Bold 14px/30px 'Raleway';
letter-spacing: 0;
color: #A6AFBA;
text-transform: uppercase;
opacity: 1;
}
.boletin{
  grid-area: boletin;
  padding: 92px 0px 0 50px;
  text-align: left;
font: Bold 14px/30px 'Raleway';
letter-spacing: 0;
color: #A6AFBA;
text-transform: uppercase;
opacity: 1;
}
.iconos{
  padding: 23px 0px 0 76px;
  display: flex;
  grid-area: iconos;
  width: 40px;
height: 40px;

}
.iconos img{
  padding: 0 10px;
  width: 40px;
height: 40px;
}
.registro{
  grid-area: input;
  
}
.text{
  margin:23px 0px 0 50px ;
  top: 1731px;
  width: 372px;
  height: 38px;
}
.submit{
  border: 0px;
  padding: 0;
  top: 1731px;
  left: 1122px;
  width: 154px;
  height: 45px;
  color: #A6AFBA;
  font-weight: bold;
  background: #000E1F 0% 0% no-repeat padding-box;
  opacity: 1;
  text-transform: capitalize;

}
.submit:hover{
  cursor: pointer;
  background:#000b19 ;
}
.descubre{
  grid-area: descubre;
  padding: 0px 30px;
  font: light 23px/20px ;
color: #A6AFBA;
opacity: 1;
margin: 0;
text-transform: capitalize;
}
.descubre p{
  margin: 0;
  padding: 0 0px 0 56px;

}
.enterate{
  grid-area: enterate;
  font: 'Light 300' 23px/20px ;
color: #A6AFBA;
padding: 0px 0px 0 50px;
opacity: 1;
margin: 0;
text-transform: capitalize;
}
.enterate p{
  margin: 0;
}
.politica{
  grid-area: privacidad ;
  display: flex;
  padding: 50px 0;
  text-transform: capitalize;
  justify-content: center;
}
.polit{
  padding: 0 5px 0 0px ;
  font: Light 20px/20px 'Raleway';
  letter-spacing: 0;
  color: #A6AFBA;
  opacity: 1;
  border-right:1px solid #F2F2F2;
  width: 160px;
  text-transform: capitalize;
  }
  .politica a{
    text-decoration: none;
  }

 .term{
  padding: 0 00px 0 5px ;
  font: Light 20px/20px ;
  letter-spacing: 0;
  color: #A6AFBA;
  opacity: 1;
  text-transform: capitalize; 
  text-decoration: none;
} 
.powered{
  grid-area: powered ;
  display: flex;
  justify-content: space-evenly;
  font: Light 20px/20px ;
letter-spacing: 0;
color: #A6AFBA;
opacity: 1;
text-transform: capitalize;
padding: 30px 60px 0 0px;
  
}
